@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_title{
    background: linear-gradient(to right, #C381DB, #4E92F9); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}
.title_gradient{
  background: linear-gradient(to right, #C381DB, #4E92F9); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.button_gradient{
  background: linear-gradient(to right, #C381DB, #4E92F9);
 
}


